NAME=ble-presence
TYPE=simple
CMD=cd /Users/proboszcz/Devel/mac_local_services/ble_presence_detector && /Users/proboszcz/Devel/mac_local_services/ble_presence_detector/venv/bin/python -m src.main config/devices.yaml --env-file /Users/proboszcz/Devel/mac_local_services/env/ble-presence.env
WAIT_FOR=tcp:10.9.0.3:1883
ENV_FILE=env/ble-presence.env
RESTART=always
RESTART_DELAY=5
